@import 'palette';

$body-bg-color: #F7FAFA;

html{
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif!important;
	background-color: $body-bg-color;
	color: $secondary-text-color!important;

	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.body{
	flex: 1;
}
a {
	color: $accent-color!important;
}
hr {
	border-color: $divider-color;
}

a.navbar-brand, a.dropdown-profile{
	color: #FFF!important;
}

.container-page{
	margin-top: 60px;
}
.btn-default{
	color: $primary-text-color!important;
	padding-right: 20px;
	padding-left: 20px;
	font-weight: bold;
	border: 0;
}
.btn-primary{
	background-color: $primary-color!important;
	color: #FFF!important;
	padding-right: 20px;
	padding-left: 20px;
	font-weight: bold;
	border: 0;
}
.btn-primary:hover{
	background-color: $primary-color-dark!important;
}

.home-hero{
	text-align: center;
	/*border: 1px solid red;*/
	/*margin-top: 40px;*/
	margin-bottom: 30px;
	background-image: url(../img/home_hero_bg.jpg);
	background-size: cover;
	background-position: center center;
	padding-top: 60px!important;
	padding-bottom: 20px;
}
.home-hero-container{
	/*padding: 0 400px;*/
}
.home-hero h1{
	font-size: 40px;
}
.home-hero small{
	font-size: 20px;
}
.home-hero h1, .home-hero small{
	color: #FFF;
	text-shadow: 1px 1px rgba(#000, .1);
}
.navbar-default{
	background: none!important;
	background-color: rgba(#000, .5)!important;
	border: 0!important;
}
.text-accent{
	color: $primary-text-color!important;
}
.container-search{
	background-color: $accent-color;
	padding: 10px;
	margin-top: 50px;
	margin-bottom: 30px;
}
.container-search input{
	height: 45px!important;
	font-size: 16px;
	border: 0!important;
	border-radius: 0!important;
}
.container-search-text{
	color: $primary-color-text;
	margin: 0!important;
	margin-top: 5px!important;
	font-size: 15px;
}
.plugin-card{
	margin-bottom: 20px;
}
.plugin-card h3 {
	margin: 0!important;
	margin-bottom: 5px!important;
}
.plugin-card h3 > a{
	font-size: 22px;
	color: $accent-color!important;
}
$font-size: 22px;
.plugin-card h3 > span{
	font-size: $font-size;
}
.plugin-card-description{
	font-size: $font-size - 6;
}
.plugin-card .glyphicon-tags{
	font-size: 10px;
}
ul.sidemenu{
	margin-left: -15px!important;
	padding-left: 0!important;
	margin-top: 5px;
}
ul.sidemenu > li {
	list-style: none;
	padding-bottom: 8px;
}
ul.sidemenu > li > a {
	font-size: 15px;
	border-left: 1px solid $divider-color;
	padding: 6px 0;
	padding-left: 25px;
	color: $primary-text-color!important;
}
ul.sidemenu > li {
	list-style: none;
	padding-bottom: 8px;
}
ul.sidemenu > li > a:hover {
	border-left: 2px solid $accent-color;
	color: $accent-color!important;	
	padding-left: 24px;
}

.page-call{
	text-align: center;
	padding: 60px;
}
.page-call h1 {
	font-size: 26px;
	color: $primary-text-color;
}

.footer-container{
	margin-top: 40px;
	background-color: $accent-color;
	padding: 20px 0;
	color: lighten($accent-color, 25%);
}
.footer-container a {
	color: #FFF!important;
}
.plugin-thumbs-container {
	white-space:nowrap;
	width: 100%;
	height: auto;
	overflow-x: hidden;
	overflow-y: hidden;
}
.plugin-thumb {
	overflow: hidden;
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-right: 10px;
	border-radius: 4px;
}